@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;

<div>
    <h2>
        Welcome to the Lost and Found DashboUsers
    </h2>
    
    <div class="container">
        <a class="btn btn-primary" asp-area="" asp-controller="Reports" asp-action="ReportFoundItem">Report Found Item</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Reports" asp-action="ReportLostItem">Report Lost Item</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Items" asp-action="ViewFoundItems">View Found Item</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Items" asp-action="ViewLostItems">View Lost Item</a>
    </div>
</div>
