<div>
    <h2>
        Welcome to the Lost and Found Dashboard!
    </h2>

    <a class="btn btn-primary" asp-area="" asp-controller="Reports" asp-action="ReportFoundItem">Report Found Item</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Reports" asp-action="ReportLostItem">Report Lost Item</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Items" asp-action="ViewFoundItems">View Found Item</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Items" asp-action="ViewLostItems">View Lost Item</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Items" asp-action="ViewClaimedItems">View Claimed Item</a>

</div>
